.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.about__container h3 {
  font-size: 48px;
  font-family: "Encode Sans", sans-serif;
  font-weight: 800;
  color: white;
  background-color: var(--blue);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.about__container p {
  text-align: justify;
  text-justify: newspaper;
  color: var(--grey);
  font-weight: 700;
}

.about__name {
  color: var(--black);
  font-weight: 700;
}

.cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.about__card {
  padding: 1rem 1rem 3rem 1rem;
  background-color: var(--lightgrey);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about__card:nth-child(1) {
  box-shadow: -5px 10px 0px rgba(0, 0, 0, 0.35);
}
.about__card:nth-child(2) {
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.about__card:nth-child(3) {
  box-shadow: 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.about__card h4 {
  font-family: "Encode Sans", sans-serif;
  font-weight: 800;
  font-size: 48px;
  padding: 1rem;
  border-bottom: 10px solid var(--green);
}

.about__card p {
  color: var(--black);
  text-align: center;
}
