/* DON'T FORGET TO REMOVE THE FIXED WIDTH !!!*/
/* DON'T FORGET TO REMOVE THE FIXED WIDTH !!!*/
/* DON'T FORGET TO REMOVE THE FIXED WIDTH !!!*/
/* DON'T FORGET TO REMOVE THE FIXED WIDTH !!!*/

nav {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
